<!DOCTYPE html>
<html>
    <head>
        <title>Vaults</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
        <script src="{{ url_for('static', filename='home_scripts.js') }}" type="module" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
    </head>
    <body>
        <div class="gallery"></div>
    </body>
</html>